<!DOCTYPE html>
<html>

<head>
    <title>Community</title>
    <link rel="stylesheet" href="/css/style.css">
<script>
    function fetchPosts() {
        fetch('/community/posts')
            .then(response => response.json())
            .then(data => {
                console.log('Fetched posts:', data);
                const postsContainer = document.querySelector('.posts');
                postsContainer.innerHTML = '';

                data.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));
                data.forEach(post => {
                    const postElement = document.createElement('div');
                    postElement.classList.add('post');
                    let html = `
                        <div class="post-image">
                            <div class="post-user">
                                <img id="display-picture" class="display-picture" src=${post.displayPicture}>
                                ${post.name}
                            </div>
                            <img src="${post.imageUrl}">
                            <div class="post-timestamp">
                                ${new Date(post.timestamp).toLocaleString()}
                            </div>
                        </div>
                    `;
                    if (post.comment) {
                        html += `<div class="post-comment">${post.comment}</div>`;
                    }
                    postElement.innerHTML = html;
                    postsContainer.appendChild(postElement);
                });
            })
            .catch(err => console.error('Error fetching posts:', err));
    }

    window.onload = function () {
            fetchPosts();
        };
</script>

</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="/profile">Profile</a>
        <a href="/community">Community</a>
        <a href="/reminders">Reminders</a>
        <a href="/logout">Logout</a>
    </nav>
    <h1>Upload a Photo</h1>
    <div class="post-form-container">
        <form method="POST" action="/community/submit" enctype="multipart/form-data" class="reminder-form">    
            <div class="form-row">
                <label for="photo">Photo Upload:</label>
                <input type="file" name="photo" id="photo" accept="image/*" required>
            </div>
            <div class="form-row">
                <label for="comment">Comment:</label>
                <input type="text" name="comment" id="comment">
            </div>
            <button type="submit">Post to Community</button>
        </form>
    </div>
    <h1>Recent Community Posts</h1>
    <div class="posts">
        <!-- posts loading here -->
    </div>    
</body>

</html>